.heading-whitepaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0vh;

  h2 {
    width: 65%;
    max-width: 900px;
    margin-top: 20px;
  }

  .description-subtitle-component {
    margin-top: 20px;
  }

  .description-text-component {
    margin-top: 20px;
  }
}
