html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-primary;
  color: $text-primary;
  font-family: "Louize";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 10px 16px;
}

@media (max-width: 850px) {
  body {
    padding: 10px 12px;
  }
}

.only-mobile {
  display: none;
}
@media (max-width: 850px) {
  .no-mobile {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}

.pointer {
  cursor: pointer;
}

.z15 {
  z-index: 15;
}

.margin15 {
  margin-top: 15vh;
}

.margin20 {
  margin-top: 20vh;
}

.margin25 {
  margin-top: 25vh;
}

.margin15px {
  margin-top: 15px;
}
