@font-face {
  font-family: "Geist";
  src: url("../../assets/fonts/geist-mono-regular.woff") format("woff");
  src: url("../../assets/fonts/geist-mono-regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400 !important;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter-medium.woff") format("woff");
  src: url("../../assets/fonts/inter-medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500 !important;
}

.geist {
  font-family: "Geist" !important;
  letter-spacing: 0em;
}

.inter {
  font-family: "Inter" !important;
}

button {
  color: #000;
}

// Text Colors
.text-color-secondary {
  color: $text-secondary;
  transition: 0.3s ease;
  &:hover {
    color: $text-primary;
  }
}

// Text Decoration
.uppercase {
  text-transform: uppercase;
}

.underlined {
  text-underline-offset: 5px;
  text-decoration: underline;
}

.dashed {
  text-underline-offset: 3px;
  text-decoration: underline dotted;
  cursor: text;
}

.text-center {
  text-align: center;
}

.dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 12%;
  text-underline-offset: 2px;
  text-underline-position: from-font;
}

.turned-arrow {
  display: inline-block;
  transform: rotate(90deg) !important;
}

.semi-turned-arrow {
  display: inline-block;
  transform: rotate(-45deg) !important;
}

a {
  text-decoration: none;
  color: $text-primary;
}

.grey {
  color: $text-secondary !important;
}

.grey-hover {
  color: $text-primary;
  transition: 0.3s ease;
  &:hover {
    color: $text-secondary;
  }
}

.link-hover {
  opacity: 1;
  transition: 0.3s ease;
  line-height: 100%;
  outline: none !important;
  &:hover {
    opacity: 0.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input {
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  line-height: 150%;
}

.xxs-size {
  font-size: 9px;
}

.xs-size {
  font-size: 10px;
}

@media (max-width: 850px) {
  .xs-size {
    font-size: 11px;
  }
}
.s-size {
  font-size: 13px;
}
.sx-size {
  font-size: 14px;
}
.m-size {
  font-size: 18px;
}

.mx-size {
  font-size: 15.5px;
}

.l-size {
  font-size: 17px;
}

@media (max-width: 850px) {
  .l-size {
    font-size: 19px;
  }
}

.ls-size {
  font-size: 22px;
  letter-spacing: -0.03em;
  line-height: 135% !important;
}

@media (max-width: 850px) {
  .ls-size {
    font-size: 22px;
  }
}

.lsx-size {
  font-size: 28px;
  letter-spacing: -0.04em;
  line-height: 135% !important;
}

.lss-size {
  font-size: 38px;
  letter-spacing: -0.05em;
}

@media (max-width: 850px) {
  .lss-size {
    font-size: 28px;
  }
}

.xl-size {
  font-size: 64px;
}

.ultra-size {
  font-size: 76px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 112.2px */
  letter-spacing: -5.1px;
}

@media (max-width: 850px) {
  .ultra-size {
    font-size: 52px;
    letter-spacing: -2.8px;
  }
}

.center {
  text-align: center;
}

@media (max-width: 850px) {
  .s-size {
    font-size: 13px;
  }
}
