.modal-cookies {
  border-radius: 15px;
  border: 1px solid #f3f3f3;
  background: #fdfdfd;
  display: flex;
  width: 300px;
  padding: 14px 16px 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.04);
  z-index: 10000;
}
.modal-cookies p {
  line-height: 150%;
  opacity: 0.8;
}
.modal-cookies .modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-cookies .container-buttons-cookies {
  display: flex;
  gap: 10px;
}
.modal-cookies button {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 53px;
  border: 1px solid #f3f3f3;
  background: #fff;
  outline: none;
  transition: 0.3s ease;
}
.modal-cookies button:hover {
  background-color: black;
  color: white !important;
  border: 1px solid #000;
}

@media (max-width: 850px) {
  .modal-cookies {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
