footer {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  .list-footer-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
