header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, 0%);

  a {
    width: 40px;
  }
  img {
    width: 100%;
  }
}
