.heading-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-home .trust-data-line-component {
  margin-top: 15px;
}

h1 {
  margin-top: 27vh;
  user-select: none;
}
h1 span {
  border: 1px solid #e8e8e8;
  border-radius: 35px;
  padding: 0px 15px 0px 6px;
  transition: 0.3s ease;
  cursor: wait;
}
h1 span:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.for-who-principleos {
  margin-top: 30px;
}

.description-principleos-heading {
  margin-top: 20px;
}

.container-btns-heading {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.container-hammer-heading {
  width: 45vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-hammer-heading img {
  width: 100%;
  max-width: 500px;
}

.introduction-home {
  margin-top: 25vh;
}

.fixed-blur-info {
  display: inline-flex;
  height: 31px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid rgba(218, 218, 218, 0.4470588235);
  background: rgba(232, 232, 232, 0.37);
  backdrop-filter: blur(12px);
  height: 25px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000000000;
}
.fixed-blur-info p {
  line-height: 100% !important;
  position: relative;
  top: 0px;
}

.container-cover-intro-home {
  width: 65vw;
  height: 40vh;
  max-width: 600px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 9999900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-gradient-home {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

.gradient-home {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000 10.11%, #2c3354 45.55%, #fff 72.34%);
  position: absolute;
  top: 0;
  z-index: 10;
}

.blur-gradient-home {
  width: 100%;
  height: 100%;
  background: rgba(85, 84, 99, 0.23);
  backdrop-filter: blur(60px);
  position: absolute;
  top: 0;
  z-index: 100;
}

.metal-junction-principle-os {
  width: 180px;
  position: relative;
  z-index: 10;
}

.features-home {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 50px;
}

.how-it-breaks-lies {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-breaks-lies .nails-principle {
  width: 30vw;
  max-width: 250px;
}
.how-it-breaks-lies .section-intro-component {
  margin-top: 8vh;
}
.how-it-breaks-lies .manifest-text {
  margin-top: 10vh;
}

.list-how-it-breaks-lies {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 50px;
}

.not-just-an-os {
  margin-top: 25vh;
}
