footer {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}
footer .list-footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 800px) {
  footer .list-footer-items {
    flex-direction: column;
    gap: 12px;
  }
}
