header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, 0%);
  z-index: 10000;
}
header a {
  width: 40px;
}
header img {
  width: 100%;
}
