.loader {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appearLoader 2.5s ease;
  opacity: 0;
  display: flex;
}
.loader .container-img-loader {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.loader .container-img-loader img {
  z-index: 200 !important;
  animation: fadeUp 2.5s ease;
  transition: 0.3s;
  position: relative;
  opacity: 1;
  height: 40px;
}
@media (max-width: 850px) {
  .loader .container-img-loader {
    top: 43%;
  }
  .loader .container-img-loader img {
    height: 40px;
    position: relative;
    left: 5px;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearLoader {
  0% {
    opacity: 1;
    display: flex;
    z-index: 999999999;
  }
  59% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: flex;
    z-index: 999999999;
  }
  91% {
    display: none;
    z-index: -99999999999;
  }
  100% {
    display: none;
  }
}
