.hero-section {
  text-align: center;
  padding: 50px;
}

.hero-image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 2.5rem;
  //   color: var(--primary-color);
}

.hero-description {
  font-size: 1.2rem;
  color: #666;
}
